/********************************/
/**			DOCUMENT			*/

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 17px;
}

a {
	color: black;
}

a:hover {
	color: black;
	text-decoration: none;
}

p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	line-height: 1.7;
	font-size: 17px;
	text-align: center;
	max-width: 900px;
	-webkit-font-smoothing: antialiased;

	display: block;
	margin-left: auto;
	margin-right: auto;
}

.blockquote-reverse {
	margin-right: 20px;
}

/********************************/
/**				PROFILE			*/
#profile {
	background-color: #be7169;
	color: white;
	z-index: 1000;
	padding: 0px;
	position: fixed;
	left: 10px;
	margin-top: 15px;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#profile.profile-expanded {
	left: 0px; 
	margin-top: 0px; 
}

#profile-img {
	display: block;
	height: 167px;
	width: 150px;
}

.profile-pic {
	margin-top: 5px;
}

.profile-pic-between {
	margin-left: 30px;
}

#profile-img.profile-pic-small {
	height:55px;
	width: 50px;
}

.profile-name {
	font-size: 26px;
	font-family: 'Raleway', sans-serif;
	font-weight: 100; 
}

.profile-pic-menu {
	margin-top: 5px;
	margin-bottom: 0px;
	float: left;
}

.profile-name-menu {
	float: left;
	color: white;
	font-size: 22px;
	font-weight: 100; 
}

.profile-info {
	display:block;
	margin: 10px;
}

.profile-loc {
	overflow: auto;
	text-align: center;
	margin-bottom: 30px;
}

.profile-loc-img {
	height: 30px;
	display: inline;
	margin-right: 10px;
}

.profile-loc-txt {
	display: inline;
}

.profile-xs {
	margin-bottom: 20px;
}

.profile-sm {
	text-align: left;
}

.profile-menu {
	background-color: rgba(190,113,105, 1);
	border: 0;
}

.profile-menu .navbar-toggle .icon-bar {
	background-color: rgb(100,100,100);
}

.profile-menu-item {
	background-color: rgba(190,113,105, 1);
}

.nav>li>a:hover {
	background-color: rgb(100,100,100);
}

.navbar-nav>li>a {
	line-height: 40px;
}

.profile-menu-item-on {
	background-color: rgba(100,100,100, 1);
	color: white;
}

.profile-menu-item {
	height: 100%;
	font-weight: 100;
	font-size: 25px;
	font-weight: 400;
	font-variant: small-caps;
	
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.profile-menu-item>a {
	display: block;
	color: white;
	padding: 0 20px;
}


#top-link-block {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1030;
}

#top-link-block>a {
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(100,100,100, 1);

	opacity: 0.5;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
}

#top-link-block>a:hover {
	opacity: 1;
	transition: opacity 0.3s;
}

/********************************/
/**				PAGES			*/

.page {
	padding-bottom: 100px;
}

/********************************/
/**				PAGE 1			*/

.animate {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.animate:hover {
	box-shadow: 
	-1px 1px 0px 0px #fff,
	-2px 2px 0px 0px #aaa,
	-3px 3px 0px 0px #fff,
	-4px 4px 0px 0px #aaa,
	-5px 5px 0px 0px #fff,
	-6px 6px 0px 0px #aaa,
	-7px 7px 0px 0px #fff,
	-9px 9px 0px 0px #adadad,  /*3D bottom border colour*/
	-5px 5px 40px 0px rgba(0,0,0,0.50);
	-webkit-transform: translate(8px, -8px);
	transform: translate(8px, -8px);
}

.tile {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 20px;
	box-shadow: 1px 1px 10px gray;
}

.page1-heading{
	font-size: 32px;
	font-family: 'Raleway', sans-serif;
	font-weight: 100; 
}

.page1-entry {
	min-height: 300px;
	background-color: #F0F0F0;
}

.entry:hover {
	background-color: #FFFFFF;
}

.entry-img {
	max-height: 300px;
}

/********************************/
/**				PAGE 2			*/
.odd {
	background-color: rgb(255,255,255);
}

.even {
	background-color: rgb(50,50,50);
	color: white;
}

.arrow {
	left: 50%;
	border-top: 35px solid;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	position: relative;
	margin-left: -35px;
	top: 33px;
}

.white {
	border-top-color: rgb(255,255,255);
}

.gray {
	border-top-color: rgb(50,50,50);
}

.leading {
	margin-top: 50px;
	font-size: 70px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-weight: 100;
}

.header-underline {
	width: 70px;
	height: 1px;
	position: relative;
	margin: 20px auto 19px;
	border-top: 1px solid #d0d0d0;
}

/********************/
/**		Carousel	*/

.owl-theme .owl-controls .owl-buttons div {
	background: none;
	position: absolute;
	top: 155px; 
}
 
.owl-theme .owl-controls .owl-buttons .owl-prev{
	left: -35px;
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
	right: -35px;
}

.owl-item > div > p {
	max-width: none;
	text-align: center;
	margin-right: 40px;
}

.carousel-title {
	font-size: 50px;
	font-family: 'Abel', sans-serif;
	text-align: center;
	max-width: 100%;
}

.carousel-award {
	float: left;
	max-height: 100px;
}

/********************************/
/**				PAGE 3			*/
.info {
	text-align: center;
	margin:  25px 0;
}

.infograph {
	padding-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
	display: inline-block;
	font-weight: 700;
	font-variant: small-caps;
}

.info-icon {
	font-size: 60px;
	float: right;
	position: relative;
}

.info-num {
	float: left;
	position: relative;
	font-size: 60px;
	font-weight: 700;
	display: block;
	top: -3px;
	padding-right: 20px;
	font-variant: small-caps;
}

.info-text {
	text-align: left;
	display: block;
}

.grey-box {
	color: #ffffff;
	background-color: #bbbbbb;
}

.red-box {
	color: #ffffff;
	background-color: #e5412d;
}

.red {
	color: #e5412d;
}

.silver-box {
	color: black;
	background-color: #e4e4e4;
}

.mid-text {
	padding: 20px 0;
}

/********************************/
/**			PAGES 4/5			*/

.site {
	padding: 20px;
}

.site-img {
}

.site-list {
	margin: 0 auto;
	display: table;
	line-height: 2;
	font-variant: small-caps;
	font-size: 20px;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}
